name: Build and Deploy API To Azure

# Controls when the action will run 
on:
    push:
        paths-ignore:
            - './FormulaOne/IaC/**'
            - 'README.md'
        branches:
            - main

# The workfow of the Action
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        outputs:
            short_sha: ${{steps.vars.outputs.short_sha}}
        steps:
        -   name: Checkout Repository
            id: github
            uses: actions/checkout@v2
        -   name: Setupe Webapi .NET
            uses: actions/setup-dotnet@v2
            with:
                dotnet-version: '8.0.x'

        -   name: Configure Azure ACR
            uses: azure/docker-login@v2
            with:
                login-server: ${{vars.ACR_SERVER}}
                username: ${{secrets.ACR_USERNAME}}
                password: ${{secrets.ACR_PASSWORD}}

        -   name: SHA of the commit
            id: vars
            run: |
                calculatedSHA=$(git rev-parse --short ${{github.sha}})
                echo "::set-output name=short_sha::$calculatedSHA"

        -   name: Build and push Docker image to ACR
            env: 
                ACR_REGISTRY: ${{vars.ACR_SERVER}}
                IMAGE_TAG: ${{steps.vars.outputs.short_sha}}
            run: |
                docker build -f FormulaOne.Dockerfile -t $ACR_REGISTRY/f1app:$IMAGE_TAG -t $ACR_REGISTRY/f1app:latest .
                docker push $ACR_REGISTRY/f1app --all-tags
    deploy-container-to-ACS:
        runs-on: ubuntu-latest
        needs: build-and-deploy
        
        steps:
            -   name: Login to Azure
                uses: azure/login@v1
                with:
                    creds: ${{secrets.AZURE_CREDENTIALS}}
            -   name: build and deploy to ACR
                uses: azure/container-apps-deploy-action@v1
                env:
                    IMAGE_TAG: ${{needs.build-and-deploy.outputs.short_sha}}
                    ACR_SERVER: ${{vars.ACR_SERVER}}
                    PASSSWORD: ${{secrets.DB_CONN}}
                with:
                    registryUrl: ${{vars.ACR_SERVER}}
                    imageToDeploy: $ACR_SERVER/f1app:$IMAGE_TAG
                    targetPort: 8080
                    ingress: external
                    containerAppName: f1-app-dev
                    containerAppEnvironment: f1appenvdev
                    resourGroup: f1-rg
                    environmentVariables: |
                        ASPNETCORE_ENVIRONMENT=Development ASPNETCORE_URLS=http://+:8080
                        ConnectionStrings__DefaultConnection=$PASSWORD
