name: "IaC Deploy"

on:
    push:
        paths:
            - './FormulaOne/IaC/**'
            - 'README.md'
        branches:
            - main
jobs:
    terraform-deploy:
        runs-on: ubuntu-latest
        env:
            ARM_CLIENT_ID: ${{secrets.ARM_CLIENT_ID}}
            ARM_CLIENT_SECRET: ${{secrets.ARM_CLIENT_SECRET}}
            ARM_SUBSCRIPTION_ID: ${{secrets.ARM_SUBSCRIPTION_ID}}
            ARM_TENANT_ID: ${{secrets.ARM_TENANT_ID}}
            TF_VERSON: 1.13.3

        steps:
        -   name: Checkout Repo
            uses: actions/checkout@v3

        -   name: Azure Login
            uses: azure/login@v1
            with:
                creds: ${{secrets.AZURE_CREDENTIALS}}
        -   name: Terraform install
            uses: hashicorp/setup-terraform@v3
            with:
                terraform-version: ${{env.TF_VERSION}}
        -   name: Terraform init
            run: terraform init
            working-directory: ./FormulaOne/IaC

        -   name: Terraform Validate
            run: terraform validate
            working-directory: ./FormulaOne/IaC

        -   name: Terraform Plan
            run: terraform plan -auto-approve -var="sql_pass=${{secrets.TF_VAR_DB_PASSWORD}}" -out=tfplan
            working-directory: ./FormulaOne/IaC

        -   name: Terraform Apply
            run: terraform apply -auto-approve tfplan
            working-directory: ./FormulaOne/IaC

        -   name: Notify failure
            if: failure()
            run: echo "Terraform apply failed for | ${{github.ref_name}}"




